```
# Unity specific ignores
Library/
Temp/
Obj/
Build/
Logs/
*.unityproj
*.sln
*.csproj
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.meta
*.prefab
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.pdb
*.mdb
*.mod
*.idx
*.ilk
*.exp
*.iobj
*.ipdb
*.tlog
*.wrn
*.xml
*.cache
*.manifest
*.meta
*.pidb.meta
*.suo
*.userosscache
*.sln.docstates
*.userprefs
*.unity
*.asset
*.cdda
*.clit
*.crash
*.data
*.db
*.db-shm
*.db-wal
*.disk_catalog
*.dump
*.fnt
*.fontsettings
*.giparams
*.gir
*.glsl
*.guiskin
*.ids
*.inl
*.layout
*.license
*.mat
*.meta
*.mix
*.msg
*.otf
*.pfx
*.plist
*.prefab
*.presets
*.psd
*.rtf
*.ruleset
*.sbs
*.sbsar
*.sbspr
*.scene
*.scriptable
*.shader
*.shadervariants
*.skr
*.spm
*.spriteatlas
*.svg
*.swatch
*.terrainlayer
*.ttf
*.types
*.unitypackage
*.uxml
*.uv
*.vfs
*.wav
*.wsp
*.xib
*.xsb
*.xsc
*.xsi
*.xsl
*.xslt
*.xsn
*.xtp
*.zip
*.zwc
*.~lock*
*.DS_Store
Thumbs.db
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Icon?
Network Trash Folder
Temporary Items
Volume Icon
desktop.ini
```